h2{
  color: $color-beta;
}
p{
  color: $color-gamma;
}

.btn-joo{
  margin: 10px;
  border: 1px solid $color-eta;
  color: $color-alpha;
  background: linear-gradient( 60deg, $color-zeta 5%, $color-eta 95%);
  box-shadow: 2px 2px 15px rgb(0 0 0 / 40%);
  border-radius: 4px;
  font-size: 15px;
  padding: 5px 15px;


  @media (min-width: $x-large-devices-width) { font-size: 20px;}

}
