$color-alpha: #fff;
$color-beta: #1b2838;
$color-gamma: #0E161F;
$color-delta: #0E161F;
$color-epsilon: #67c1f5;
$color-zeta: #75b022;
$color-eta: #588a1b ;

// Small devices (landscape phones, 576px and up)
$small-devices-width: 576px;
// Medium devices (tablets, 768px and up)
$medium-devices-width: 768px;
// Large devices (desktops, 992px and up)
$large-devices-width: 992px;
// X-Large devices (large desktops, 1200px and up)
$x-large-devices-width: 1200px;
// XX-Large devices (larger desktops, 1400px and up)
$xx-large-devices-width: 1400px;