.hero-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero-img-container{
    overflow: hidden;
    display: flex;
    justify-content: center;

    .hero-icon-container{
      position: absolute;
      margin-top: 250px; font-size: 150px;


      // Small devices (landscape phones, 576px and up)
      @media (min-width: $small-devices-width) { margin-top: 315px; font-size: 180px;}

      // Medium devices (tablets, 768px and up)
      @media (min-width: $medium-devices-width) { margin-top: 175px; font-size: 90px;}

      // Large devices (desktops, 992px and up)
      @media (min-width: $large-devices-width) { margin-top: 240px; font-size: 130px;}

      // X-Large devices (large desktops, 1200px and up)
      @media (min-width: $x-large-devices-width) { margin-top: 290px; font-size: 150px;}

      // XX-Large devices (larger desktops, 1400px and up)
      @media (min-width: $xx-large-devices-width) { margin-top: 330px; font-size: 150px;}

      i{

        color: $color-zeta;
        display: none;

        &.active{

          display: block;
        }
      }

    }
  }

  .hero-description-container{

    .title{
      font-size: 30px;
      color: $color-eta ;
      text-align: left;
      font-weight: bold;
      text-shadow: 2px 2px 15px rgb(0 0 0 / 40%)
    }
    .description{

      @media (min-width: $x-large-devices-width) { font-size: 20px;}
      color: $color-gamma;

    }

    .hero-button-container{
      position: absolute;
      top: 0;

      @media (max-width: $large-devices-width) { position: initial}
    }
  }


}

